header {
	background-color: #4aaaa5;
	float: left;
	margin: 0px;
	padding: 0px;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 5px;
	color: #4aaaa5;
	line-height: 100%;

}

#contact-info { 
	border: solid;
	border-width: 1px;
	background: ##4aaaa5; 
	float: left;
	margin: 100px;
	font-family: "Georgia", "Times New Roman", Times, serif;
}
h1 {
	float: 0 auto;
	margin: 0;
	margin-bottom: 20px;
	padding: 20px 0;
	font-size: 28px;
	color: #eee;
	text-align: center;


}
